*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto_regular;
    src: url(../Roboto/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: roboto_medium;
    src: url(../Roboto/RobotoCondensed-Medium.ttf);
}

@font-face {
    font-family: roboto_bold;
    src: url(../Roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: roboto_semibold;
    src: url(../Roboto/RobotoCondensed-SemiBold.ttf);
}

@font-face {
    font-family: roboto_light;
    src: url(../Roboto/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: roboto_extralight;
    src: url(../Roboto/RobotoCondensed-ExtraLight.ttf);
}

nav{
    background: #ccc1b8;
    .nav-link{
        color: #fff !important;
        font-family: roboto_regular;
        font-size: 18px;
    }
    button{
        background-color: #c5ad85;
        padding: 4px 16px;
        border: none;
        a{
            color: #fff;
            text-decoration: none;
            font-family: roboto_regular;
            font-size: 18px;
        }
    }
}

.hero-section{
    height: 700px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background: url(../Images/banner.jpg);
    .container{
        height: 100%;
        .row{
            height: 100%;
            .col-12{
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                h1{
                    font-family: roboto_light;
                    font-size: 52px;
                    color: #ffff;
                    text-transform: uppercase;
                    @media (max-width:746px) {
                        font-family: roboto_light;
                    font-size: 32px;
                    color: #ffff;
                    text-transform: uppercase;
                    }
                }
                span{
                    font-family: roboto_light;
                    font-size: 42px;
                    color: #ffffff;
                    @media (max-width:746px) {
                        font-family: roboto_light;
                        font-size: 28px;
                        color: #ffffff;
                    }
                }
                ul{
                    padding: 0px;
                    @media (max-width:746px) {
                        padding: 0px;
                    }
                    li{
                        list-style: none;
                        font-family: roboto_light;
                        font-size: 22px;
                        color: #ffffff;
                        @media (max-width:746px) {
                            list-style: none;
                            font-family: roboto_light;
                            font-size: 16px;
                            color: #ffffff;
                        }
                    }
                }
                button{
                    background-color: #c5ad85;
                    padding: 5px 20px;
                    width: fit-content;
                    border: none;
                    a{
                        text-decoration: none;
                        font-size: 18px;
                        font-family: roboto_regular;
                        color: #ffffff;
                    }
                }
            }
        }
        
    } 
}

.about{
    padding: 40px 0px;
    overflow: hidden;
    .right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 20px 0px;
    }
    .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 20px 0px;
    }
    .col-box{
        margin: 0px 5px;
        button{
            background: #c5ad85;
            padding: 4px 22px;
            border: none;
            width: fit-content;
            a{
                font-family: roboto_regular;
                color: #fff;
                text-decoration: none;
            }
        }
        h1{
            font-family: roboto_extralight;
            letter-spacing: 8px;
            font-size: 62px;
            text-transform: uppercase;
        }
        h3{
            font-family: roboto_regular;
            font-size: 32px;
        }
        p{
            font-family: roboto_regular;
            font-size: 16px;
        }
    }
}

.services{
    overflow: hidden;
    padding: 40px 0px;
    .architect{
        background: url(../Images/service.jpg);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .interior{
        background: url(../Images/service2.jpg);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .landscape{
        background: url(../Images/service3.jpg);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .management{
        background: url(../Images/service4.jpg);
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-box{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span{
            font-family: roboto_extralight;
            font-size: 56px;
            text-transform: uppercase;
            color: #ffffff !important;
        }
    }
}

.portfolio{
    overflow: hidden;
    padding: 40px 0px;
    h2{
        font-family: roboto_extralight;
        font-size: 42px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
}

.team{
    overflow: hidden;
    padding: 40px 0px;
    .col-lg-4{
        padding: 20px 10px;
    }
    button{
        background-color: #c5ad85;
        padding: 5px 16px;
        border: none;
        width: fit-content;
        a{
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    span{
        font-family: roboto_extralight;
        font-size: 58px;
    }
    .left-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        h1{
            font-family: roboto_regular;
            font-size: 42px;
            span{
                font-size: 42px;
                font-family: roboto_bold;
            }
        }
    }
    h3{
        font-family: roboto_regular;
        font-family: 24px;
        padding-top: 10px;
    }
    p{
        font-family: roboto_extralight;
        font-size: 18px;
    }
    img{
       width: 100%;
       height: auto;
    }
}

.location{
    .col-lg-6{
        padding: 0px;
    }
    .for{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .form_box{
            background: #282e3e;
            padding: 40px 0px;
            h2{
                text-align: center;
                font-family: roboto_regular;
                font-size: 38px;
                text-transform: uppercase;
                color: #ffffff;
            }
            input{
                padding: 8px 10px;
                border: 1px solid #ffffff;
            }
            button{
                background: #c5ad85;
                padding: 6px 24px;
                border: none;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }  
}

.foot{
    padding: 20px 0px;
    background-color: #c5ad85;
    .col-12{
        text-align: center;
        h6{
            color: #fff;
            font-family: roboto_medium;
            font-size: 16px;
            letter-spacing: 2px;
        }
    }
}