* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto_regular;
  src: url(../Roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: roboto_medium;
  src: url(../Roboto/RobotoCondensed-Medium.ttf);
}
@font-face {
  font-family: roboto_bold;
  src: url(../Roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: roboto_semibold;
  src: url(../Roboto/RobotoCondensed-SemiBold.ttf);
}
@font-face {
  font-family: roboto_light;
  src: url(../Roboto/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: roboto_extralight;
  src: url(../Roboto/RobotoCondensed-ExtraLight.ttf);
}
nav {
  background: #ccc1b8;
}
nav .nav-link {
  color: #fff !important;
  font-family: roboto_regular;
  font-size: 18px;
}
nav button {
  background-color: #c5ad85;
  padding: 4px 16px;
  border: none;
}
nav button a {
  color: #fff;
  text-decoration: none;
  font-family: roboto_regular;
  font-size: 18px;
}

.hero-section {
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background: url(../Images/banner.jpg);
}
.hero-section .container {
  height: 100%;
}
.hero-section .container .row {
  height: 100%;
}
.hero-section .container .row .col-12 {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-section .container .row .col-12 h1 {
  font-family: roboto_light;
  font-size: 52px;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 746px) {
  .hero-section .container .row .col-12 h1 {
    font-family: roboto_light;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
  }
}
.hero-section .container .row .col-12 span {
  font-family: roboto_light;
  font-size: 42px;
  color: #ffffff;
}
@media (max-width: 746px) {
  .hero-section .container .row .col-12 span {
    font-family: roboto_light;
    font-size: 28px;
    color: #ffffff;
  }
}
.hero-section .container .row .col-12 ul {
  padding: 0px;
}
@media (max-width: 746px) {
  .hero-section .container .row .col-12 ul {
    padding: 0px;
  }
}
.hero-section .container .row .col-12 ul li {
  list-style: none;
  font-family: roboto_light;
  font-size: 22px;
  color: #ffffff;
}
@media (max-width: 746px) {
  .hero-section .container .row .col-12 ul li {
    list-style: none;
    font-family: roboto_light;
    font-size: 16px;
    color: #ffffff;
  }
}
.hero-section .container .row .col-12 button {
  background-color: #c5ad85;
  padding: 5px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
.hero-section .container .row .col-12 button a {
  text-decoration: none;
  font-size: 18px;
  font-family: roboto_regular;
  color: #ffffff;
}

.about {
  padding: 40px 0px;
  overflow: hidden;
}
.about .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px 0px;
}
.about .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px 0px;
}
.about .col-box {
  margin: 0px 5px;
}
.about .col-box button {
  background: #c5ad85;
  padding: 4px 22px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.about .col-box button a {
  font-family: roboto_regular;
  color: #fff;
  text-decoration: none;
}
.about .col-box h1 {
  font-family: roboto_extralight;
  letter-spacing: 8px;
  font-size: 62px;
  text-transform: uppercase;
}
.about .col-box h3 {
  font-family: roboto_regular;
  font-size: 32px;
}
.about .col-box p {
  font-family: roboto_regular;
  font-size: 16px;
}

.services {
  overflow: hidden;
  padding: 40px 0px;
}
.services .architect {
  background: url(../Images/service.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .interior {
  background: url(../Images/service2.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .landscape {
  background: url(../Images/service3.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .management {
  background: url(../Images/service4.jpg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .col-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .col-box span {
  font-family: roboto_extralight;
  font-size: 56px;
  text-transform: uppercase;
  color: #ffffff !important;
}

.portfolio {
  overflow: hidden;
  padding: 40px 0px;
}
.portfolio h2 {
  font-family: roboto_extralight;
  font-size: 42px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.team {
  overflow: hidden;
  padding: 40px 0px;
}
.team .col-lg-4 {
  padding: 20px 10px;
}
.team button {
  background-color: #c5ad85;
  padding: 5px 16px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.team button a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.team span {
  font-family: roboto_extralight;
  font-size: 58px;
}
.team .left-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.team .left-box h1 {
  font-family: roboto_regular;
  font-size: 42px;
}
.team .left-box h1 span {
  font-size: 42px;
  font-family: roboto_bold;
}
.team h3 {
  font-family: roboto_regular;
  font-family: 24px;
  padding-top: 10px;
}
.team p {
  font-family: roboto_extralight;
  font-size: 18px;
}
.team img {
  width: 100%;
  height: auto;
}

.location .col-lg-6 {
  padding: 0px;
}
.location .for {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.location .for .form_box {
  background: #282e3e;
  padding: 40px 0px;
}
.location .for .form_box h2 {
  text-align: center;
  font-family: roboto_regular;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
}
.location .for .form_box input {
  padding: 8px 10px;
  border: 1px solid #ffffff;
}
.location .for .form_box button {
  background: #c5ad85;
  padding: 6px 24px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.foot {
  padding: 20px 0px;
  background-color: #c5ad85;
}
.foot .col-12 {
  text-align: center;
}
.foot .col-12 h6 {
  color: #fff;
  font-family: roboto_medium;
  font-size: 16px;
  letter-spacing: 2px;
}/*# sourceMappingURL=style.css.map */